# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Folders
MMKP_GR04/out_standard/
MMKP_GR04/out_fast/
MMKP_GR04/out_large/
MMKP_GR04/out_beast/

# Files
mmkp/std_stat_file.csv